<div class="row">
  <div class="col-md-12">
    <blog-navbar></blog-navbar>
  </div>

  <div class="col-md-3 sidenav">
    <ul class="list-group text-center">
      <li class="list-group-item"><a href="#" class="">Hello</a></li>
      <li class="list-group-item"><a href="#" class="">Hello</a></li>
      <li class="list-group-item"><a href="#" class="">Hello</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <ui-view></ui-view>
  </div>
  <div class="col-md-12">
    <blog-footer></blog-footer>
  </div>
</div>
