<div class="page-header">
  <h2>{{$ctrl.post.title}}</h2>
</div>
<p class="date">
  {{$ctrl.post.created_at | date}}
</p>
<p>
  <tag-list tag-list="$ctrl.post.tag_list"></tag-list>
</p>
<div class="jumbotron">
  <p class="container">
    {{$ctrl.post.body}}
  </p>
</div>
<div class="" ng-if="$root.user.id && $root.user.id == $ctrl.post.user.id">
  <a ui-sref="app.editPost({postId: $ctrl.post.id})" class="btn btn-lg btn-info">Edit Post</a>
  <a href ng-click="$ctrl.delete()" class="btn btn-lg btn-danger">Delete Post</a>
</div>
<comment-list ng-if="$ctrl.post" post="$ctrl.post"></comment-list>
<new-comment></new-comment>
