<div class="page-header">
  <h3 ng-if="$ctrl.comments.length > 0">Comments</small></h3>
  <h4 ng-if="$ctrl.comments.length == 0">No comments yet.</small></h4>
</div>

<div class="comments col-md-12" ng-repeat="comment in $ctrl.comments">
  <p>
    <strong>{{comment.body}}</strong>
  </p>
  <div >
    by<strong> {{comment.name}}</strong> - <i>{{comment.created_at | date}}</i>
    <a ng-if="$root.user.id && $root.user.id == $ctrl.post.user.id"
       href ng-click="$ctrl.delete(comment)"
       class="btn btn-danger pull-right">
       Delete
    </a>
  </div>
  <hr>
</div>
<div class="text-center">
  <a class="btn btn-primary" ng-if="!$ctrl.lastPage" ng-click="$ctrl.nextPage()">more Comments <span class="glyphicon glyphicon-arrow-down"></span></a>
</div>
